<mat-card class="card">
    <mat-card-header>
        <mat-card-title>Chat GPT</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="messageForm" (keyup.enter)="submitMessageWs()" class="form">
            <mat-form-field class="full-width">
                <mat-label>Message</mat-label>
                <input id="messageWs" formControlName="message" matInput placeholder="Message...">
            </mat-form-field>
        </form>
        <mat-divider></mat-divider>
    </mat-card-content>
    <mat-card-actions class="actions">
        <button mat-raised-button type="submit" (click)="submitMessageWs()" color="primary">Submit</button>
    </mat-card-actions>
    <mat-card-footer class="card-footer">{{responseWsStreaming.response}}</mat-card-footer>
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Prompt
                </mat-panel-title>
                <mat-panel-description>
                    The prompt sent to the LLM
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div [innerHTML]="responseWs.prompt"></div>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Documents
                </mat-panel-title>
                <mat-panel-description>
                    The documents that were used a sources of information
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p *ngFor="let file of responseWs.files"><a href="/api/files/{{file}}" target="_blank" style="color: white">{{file}}</a></p>
        </mat-expansion-panel>
    </mat-accordion>
</mat-card>
<mat-card class="card">
    <mat-card-header>
        <mat-card-title>Chat GPT</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="messageForm" (keyup.enter)="submitMessageBasic()" class="form">
            <mat-form-field class="full-width">
                <mat-label>Message</mat-label>
                <input id="messageBasic" formControlName="message" matInput placeholder="Message...">
            </mat-form-field>
        </form>
        <mat-divider></mat-divider>
    </mat-card-content>
    <mat-card-actions class="actions">
        <button mat-raised-button type="submit" (click)="submitMessageBasic()" color="primary">Submit</button>
    </mat-card-actions>
    <mat-card-footer class="card-footer">{{responseBasic.response}}</mat-card-footer>
</mat-card>
<mat-card class="card">
    <mat-card-header>
        <mat-card-title>Chat GPT With FAQ</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="messageForm" (keyup.enter)="submitMessageFaq()" class="form">
            <mat-form-field class="full-width">
                <mat-label>Message</mat-label>
                <input id="messageFaq" formControlName="message" matInput placeholder="Message...">
            </mat-form-field>
        </form>
        <mat-divider></mat-divider>
    </mat-card-content>
    <mat-card-actions class="actions">
        <button mat-raised-button type="submit" (click)="submitMessageFaq()" color="primary">Submit</button>
    </mat-card-actions>
    <mat-card-footer class="card-footer">{{responseFaq.response}}</mat-card-footer>
</mat-card>
<mat-card class="card">
    <mat-card-header>
        <mat-card-title>Chat GPT With Documents</mat-card-title>
        <mat-card-subtitle><a href="https://scnz.org/techincal-resources/conference-papers/" target="_blank" style="color: white">Sources</a></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="messageForm" (keyup.enter)="submitMessageDocs()" class="form">
            <mat-form-field class="full-width">
                <mat-label>Message</mat-label>
                <input id="messageDocs" formControlName="message" matInput placeholder="Message...">
            </mat-form-field>
        </form>
        <mat-divider></mat-divider>
    </mat-card-content>
    <mat-card-actions class="actions">
        <button mat-raised-button type="submit" (click)="submitMessageDocs()" color="primary">Submit</button>
    </mat-card-actions>
    <mat-card-footer class="card-footer">{{responseDocs.response}}</mat-card-footer>
</mat-card>
<mat-card class="card">
    <mat-card-header>
        <mat-card-title>Chat GPT With Data</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="messageForm" (keyup.enter)="submitMessageData()" class="form">
            <mat-form-field class="full-width">
                <mat-label>Message</mat-label>
                <input id="messageData" formControlName="message" matInput placeholder="Message...">
            </mat-form-field>
        </form>
        <mat-divider></mat-divider>
    </mat-card-content>
    <mat-card-actions class="actions">
        <button mat-raised-button type="submit" (click)="submitMessageData()" color="primary">Submit</button>
    </mat-card-actions>
    <mat-card-footer class="card-footer">{{responseData.response}}</mat-card-footer>
</mat-card>
