.full-width {
  width: 100%;
}

.form {
  min-width: 150px;
  max-width: 800px;
  width: 100%;
}

.actions {
  padding: 16px;
}

.card {
  margin-top: 16px;
  margin-bottom: 16px;
}

.card-footer {
  padding: 20px;
}

mat-card-subtitle {
  margin-bottom: 12px;
}

.center {
  display: flex;
  justify-content: center;
}
